<div class="card">
  <div class="card-header">
    <span appHoverColor [hoverColor]="'red'">
      {{ "Add course" | uppercase }}
    </span>
  </div>
  <div class="card-body">
    <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Title"
          id="title"
          name="title"
          #title="ngModel"
          [(ngModel)]="model().title"
          required
        />
        @if (title.invalid && title.touched) {
        <div class="text-danger">Title is required.</div>
        }
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          rows="3"
          placeholder="Enter Description"
          id="description"
          name="description"
          #description="ngModel"
          [(ngModel)]="model().description"
          required
        ></textarea>
        @if (description.invalid && description.touched) {
        <div class="text-danger">Description is required.</div>
        }
      </div>

      <div>
        <label for="image">Choose an image:&nbsp;</label>
        <input
          type="file"
          name="image"
          id="image"
          accept="image/*"
          [multiple]="false"
          (change)="onFileSelected($event)"
          ngModel
          required
        />
        @if (cover()) {
        <div class="imageDiv" align="right">
          <img [src]="cover()" alt="" />
        </div>
        } @if (showError()) {
        <div class="text-danger">Image is required.</div>
        }
      </div>

      <div class="m-3" align="center">
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [ngClass]="{ 'btn-success disabled': isSaved() }"
          [ngStyle]="{
            color: isSaved() ? 'lightgreen' : 'white'
          }"
        >
          {{ isSaved() ? "Saved!" : "Save" }}
        </button>
      </div>
    </form>
  </div>
</div>

<app-courses [isAdmin]="true"></app-courses>
